.app {
  max-width: 350px;
  margin: 20px auto;
  padding: 20px;
  background-color: #232323;
  color: #ffffff;
  border-radius: 10px;

}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.input-container {
  display: flex;
  margin-bottom: 10px;
  
}

input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  color: #232323;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 3px 0px 0px 3px;
  outline: none;
}

input::placeholder {
  color: #a6a6a6;
}

button {
  
  padding: 10px 20px;
  border: none;
  background-color: #00aeff;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0px 3px 3px 0px;
}

button:hover {
  background-color: #009be2;
}




table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}
th, td {
  padding: 8px;
  text-align: left;
  background-color: #141414;
  border-radius: 3px;
}
tr {
  border-bottom: 1px solid #232323;
}
.fixed-column {
  position: sticky;
  right: 0;
  background-color: #141414;
  z-index: 1;
  text-align: right;
}

.fixed-column button {
  padding: 5px 10px;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  
}

